@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

// font
$main-font: "Red Hat Display", sans-serif;
// colors
$body-bg: hsl(225, 100%, 94%);
$card-bg: hsl(225, 100%, 98%);
$primary-color: hsl(224, 23%, 55%);
$secondary-color: hsl(223, 47%, 23%);
$highlight: hsl(245, 75%, 52%);
// breakpoint
$tablet: 768px;
