@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

// font
$main-font: "Red Hat Display", sans-serif;
// colors
$body-bg: hsl(225, 100%, 94%);
$promo-bg: hsl(225, 100%, 98%);
$primary-color: hsl(224, 23%, 55%);
$secondary-color: hsl(223, 47%, 23%);
$highlight: hsl(245, 75%, 52%);
$white: #fff;

// breakpoint
$tablet: 48em;

// transition
$transition: 0.8s;

// opacity
$opacity: 0.8;

// shadow
$shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
